.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
  max-width: 1395px;
}

@font-face {
  font-family: "Comfortaa";
  font-display: swap;
  src: url("../fonts/Comfortaa-Medium.woff") format("woff"), url("../fonts/Comfortaa-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Comfortaa";
  font-display: swap;
  src: url("../fonts/Comfortaa-Light.woff") format("woff"), url("../fonts/Comfortaa-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Comfortaa";
  font-display: swap;
  src: url("../fonts/Comfortaa-Bold.woff") format("woff"), url("../fonts/Comfortaa-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Comfortaa";
  font-display: swap;
  src: url("../fonts/Comfortaa-Regular.woff") format("woff"), url("../fonts/Comfortaa-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Exo2";
  font-display: swap;
  src: url("../fonts/Exo2-ExtraBold.woff") format("woff"), url("../fonts/Exo2-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Exo2";
  font-display: swap;
  src: url("../fonts/Exo2-BoldItalic.woff") format("woff"), url("../fonts/Exo2-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Exo2";
  font-display: swap;
  src: url("../fonts/Exo2-Italic.woff") format("woff"), url("../fonts/Exo2-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Exo2";
  font-display: swap;
  src: url("../fonts/Exo2-Light.woff") format("woff"), url("../fonts/Exo2-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Exo2";
  font-display: swap;
  src: url("../fonts/Exo2-MediumItalic.woff") format("woff"), url("../fonts/Exo2-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Exo2";
  font-display: swap;
  src: url("../fonts/Exo2-Medium.woff") format("woff"), url("../fonts/Exo2-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Exo2";
  font-display: swap;
  src: url("../fonts/Exo2-Regular.woff") format("woff"), url("../fonts/Exo2-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Hind";
  font-display: swap;
  src: url("../fonts/Hind-Bold.woff") format("woff"), url("../fonts/Hind-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Hind";
  font-display: swap;
  src: url("../fonts/Hind-Medium.woff") format("woff"), url("../fonts/Hind-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Hind";
  font-display: swap;
  src: url("../fonts/Hind-Light.woff") format("woff"), url("../fonts/Hind-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Hind";
  font-display: swap;
  src: url("../fonts/Hind-Regular.woff") format("woff"), url("../fonts/Hind-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "VarelaRound";
  font-display: swap;
  src: url("../fonts/VarelaRound-Regular.woff") format("woff"), url("../fonts/VarelaRound-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body.lock {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}

input[type='number']:hover,
input[type='number']:focus {
  -moz-appearance: number-input;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  background: transparent;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.checkbox {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.checkbox-style {
  position: absolute;
  height: 16px;
  width: 16px;
  border: solid 2px #c2c2c2;
}

.checkbox:checked + .checkbox-style {
  border: solid 2px #ffbe46;
}

.checkbox:checked + .checkbox-style::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ffbe46;
  height: 8px;
  width: 8px;
}

.checkbox:checked:disabled + .checkbox-style::before {
  background-color: #c2c2c2;
}

.checkbox:disabled + .checkbox-style {
  border: solid 2px #c2c2c2;
}

.checkbox:focus + .checkbox-style {
  -webkit-box-shadow: 0 0 0 1px #000;
          box-shadow: 0 0 0 1px #000;
}

.select-label {
  font-family: '?';
  font-size: 14px;
  font-weight: 900;
  color: #333333;
}

.select-wrapper {
  margin: 0 0 0 15px;
  position: relative;
}

.select-wrapper::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 7px 0 7px;
  border-color: #dadada transparent transparent transparent;
  pointer-events: none;
}

.select {
  cursor: pointer;
  padding: 5px 30px 5px 10px;
  background: #fff;
  font-family: '?';
  font-size: 14px;
  color: #ffbe46;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
}

.select option {
  color: #333333;
}

.manu__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 3px;
  padding: 5px 0;
}

.manu__link {
  font-size: 14px;
  font-family: 'Comfortaa';
  font-weight: 700;
  color: #000;
  position: relative;
  -webkit-transition: 0.3s color ease 0s;
  -o-transition: 0.3s color ease 0s;
  transition: 0.3s color ease 0s;
}

.manu__arrow {
  display: none;
  position: relative;
  height: 18px;
  width: 18px;
  margin: 0 0 0 8px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.manu__arrow svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.manu__sub-list {
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 200px;
  -webkit-transform: translate(0px, 10%);
      -ms-transform: translate(0px, 10%);
          transform: translate(0px, 10%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.manu__sub-item:not(:last-child) {
  margin: 0 0 10px 0;
}

.manu__sub-link {
  font-family: 'Comfortaa';
  color: #fff;
}

body.mouse .manu__item:hover .manu__sub-list {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

body.touch .manu__arrow {
  display: block;
}

body.touch .manu__item.active .manu__sub-list {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  display: block;
}

body.touch .manu__item.active .manu__link {
  color: #ffc2a6;
}

body.touch .manu__item.active .manu__arrow {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  fill: #ffc2a6;
}

.manu-icon {
  display: none;
}

.manu-icon span,
.manu-icon::before,
.manu-icon::after {
  position: absolute;
  right: 0;
  height: 11%;
  width: 100%;
  background-color: #000;
  -webkit-transition: 0.3s all ease 0s;
  -o-transition: 0.3s all ease 0s;
  transition: 0.3s all ease 0s;
  border-radius: 4px;
}

.manu-icon::before,
.manu-icon::after {
  content: '';
}

.manu-icon::before {
  top: 0;
}

.manu-icon::after {
  bottom: 0;
}

.manu-icon span {
  top: 50%;
  -webkit-transform: scale(1) translateY(-50%);
      -ms-transform: scale(1) translateY(-50%);
          transform: scale(1) translateY(-50%);
  width: 70%;
}

.manu-icon.active::before {
  top: 50%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin: -1px 0 0 0;
}

.manu-icon.active::after {
  bottom: 50%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 0 0 -1px 0;
}

.manu-icon.active span {
  -webkit-transform: scale(0) translateY(-50%);
      -ms-transform: scale(0) translateY(-50%);
          transform: scale(0) translateY(-50%);
}

.spoiler-open-btn {
  cursor: pointer;
}

.spoiler-body {
  position: relative;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease 0s;
  -o-transition: max-height 0.3s ease 0s;
  transition: max-height 0.3s ease 0s;
}

.tabs__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs__nav_column {
  display: block;
}

.tabs__item {
  display: none;
}

.tabs__item.active {
  display: block;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 40px;
}

.header.scroll .header__wrapper {
  background-color: rgba(255, 255, 255, 0.8);
}

.header.scroll .header__body {
  min-height: 70px;
}

.header__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  -webkit-transition: 0.3s background-color ease 0s;
  -o-transition: 0.3s background-color ease 0s;
  transition: 0.3s background-color ease 0s;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0;
  min-height: 100px;
  -webkit-transition: 0.3s min-height ease 0s;
  -o-transition: 0.3s min-height ease 0s;
  transition: 0.3s min-height ease 0s;
}

.header__main {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 43.01075%;
          flex: 0 0 43.01075%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  font-size: 32px;
  color: #000;
  font-weight: 700;
  font-family: 'VarelaRound';
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
  z-index: 1;
}

.header__manu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 450px;
          flex: 0 1 450px;
}

.header__search {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.search-form {
  max-width: 475px;
}

.search-form.active .search-form__item {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.search-form.active .search-form__icon_one {
  display: block;
}

.search-form.active .search-form__icon_one svg {
  fill: #ffc2a6;
}

.search-form__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45px;
          flex: 0 0 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-form__icon svg {
  height: 15px;
  width: 15px;
  fill: #000;
  -webkit-transition: 0.3s ease all 0s;
  -o-transition: 0.3s ease all 0s;
  transition: 0.3s ease all 0s;
}

.search-form__icon_one {
  position: relative;
  z-index: 5;
  display: none;
  height: 24px;
  width: 24px;
}

.search-form__icon_one svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.search-form__item {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-form__input {
  font-family: 'Comfortaa';
  height: 45px;
  width: 100%;
  padding: 0 20px 0 0;
}

.header-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-actions__item {
  margin-left: 32px;
  height: 24px;
  width: 24px;
  position: relative;
}

.header-actions__item_icon svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.3s ease fill 0s;
  -o-transition: 0.3s ease fill 0s;
  transition: 0.3s ease fill 0s;
}

.header-cart__icon {
  position: absolute;
  height: 100%;
  width: 100%;
}

.header-cart__icon span {
  position: absolute;
  top: -10px;
  right: -10px;
  height: 20px;
  width: 20px;
  background-color: #ffc2a6;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-family: 'hind';
  font-size: 13px;
  z-index: 2;
}

.header-cart__icon svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.3s ease fill 0s;
  -o-transition: 0.3s ease fill 0s;
  transition: 0.3s ease fill 0s;
}

.header-cart__body {
  background-color: #ececec;
  border: 1px solid #a3a3a3;
  position: absolute;
  top: 60px;
  right: 0px;
  padding: 15px;
  width: 300px;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.active .header-cart__body {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.cart-list {
  overflow: auto;
  max-height: 200px;
}

.cart-list__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  height: 100px;
  position: relative;
}

.cart-list__image img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cart-list__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 0 0 10px;
}

.cart-list__title {
  font-family: 'Comfortaa';
  font-weight: 700;
  margin: 0 0 10px 0;
  color: #000;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.cart-list__quantity {
  font-family: 'Comfortaa';
  font-size: 14px;
  margin: 0 0 10px 0;
}

.cart-list__delete {
  font-family: 'Comfortaa';
  color: red;
}

.cart-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cart-list__item:not(:last-child) {
  margin: 0 0 15px 0;
}

.footer {
  padding: 20px 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.footer-contacts__text {
  font-family: 'Comfortaa';
  font-weight: 500;
  font-size: 16px;
  color: #000;
  margin-bottom: 20px;
}

.footer-contacts__contacts {
  font-family: 'Comfortaa';
  font-weight: 500;
  font-size: 16px;
  color: #000;
}

.footer-contacts__contact {
  color: #000;
  position: relative;
  padding: 0 0 0 30px;
  display: block;
  -webkit-transition: 0.3s ease all 0s;
  -o-transition: 0.3s ease all 0s;
  transition: 0.3s ease all 0s;
}

.footer-contacts__contact:not(:last-child) {
  margin-bottom: 20px;
}

.footer-contacts__contact svg {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.3s ease all 0s;
  -o-transition: 0.3s ease all 0s;
  transition: 0.3s ease all 0s;
  height: 20px;
  width: 20px;
  fill: #000;
}

.footer-manu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-manu__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  text-align: center;
}

.footer-manu__column.init .footer-manu__title svg {
  display: block;
}

.footer-manu__title {
  position: relative;
  width: 100%;
}

.footer-manu__title svg {
  display: none;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  height: 22px;
  width: 22px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: 0.3s ease all 0s;
  -o-transition: 0.3s ease all 0s;
  transition: 0.3s ease all 0s;
}

.footer-manu__title.active svg {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.footer-list {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.footer-list__item:not(:last-child) {
  margin-bottom: 20px;
}

.footer-list__link {
  position: relative;
  -webkit-transition: 0.3s ease color 0s;
  -o-transition: 0.3s ease color 0s;
  transition: 0.3s ease color 0s;
}

.footer-list__link svg {
  position: absolute;
  right: -25px;
  top: 0;
  fill: #000;
  -webkit-transition: 0.3s ease fill 0s;
  -o-transition: 0.3s ease fill 0s;
  transition: 0.3s ease fill 0s;
  height: 20px;
  width: 20px;
}

.footer-subscribe {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.footer-subscribe__title {
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
}

.footer-subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-subscribe__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #f3f3f3;
  font-family: 'comfortaa';
  padding: 0 20px;
}

.footer-subscribe__button {
  height: 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffc2a6;
  -webkit-transition: 0.3s ease background-color 0s;
  -o-transition: 0.3s ease background-color 0s;
  transition: 0.3s ease background-color 0s;
}

.footer-subscribe__button svg {
  fill: #fff;
  height: 26px;
  width: 26px;
}

.btn {
  position: relative;
  font-family: 'Comfortaa';
  font-size: calc(16px + (18 - 16) * ((100vw - 767px) / (1395 - 767)));
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
  width: calc(215px + (270 - 215) * ((100vw - 767px) / (1395 - 767)));
  height: calc(50px + (60 - 50) * ((100vw - 767px) / (1395 - 767)));
  border: 2px solid #0f0f0f;
  border-radius: 0;
  -webkit-transition: 0.4s all ease-in-out 0s;
  -o-transition: 0.4s all ease-in-out 0s;
  transition: 0.4s all ease-in-out 0s;
}

.btn.hold {
  opacity: 0.2;
  cursor: default;
}

.btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #0f0f0f;
  z-index: -1;
  -webkit-transition: 0.4s all ease-in-out 0s;
  -o-transition: 0.4s all ease-in-out 0s;
  transition: 0.4s all ease-in-out 0s;
}

.btn_blog {
  color: #fff;
  border: 2px solid #fff;
  margin: 0 auto;
}

.btn_blog::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #fff;
  z-index: -1;
  -webkit-transition: 0.4s all ease-in-out 0s;
  -o-transition: 0.4s all ease-in-out 0s;
  transition: 0.4s all ease-in-out 0s;
}

.title {
  text-align: center;
  font-family: 'Comfortaa';
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 70px;
}

.footer-title {
  font-family: 'Comfortaa';
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 25px;
  color: #000;
}

.footer-link {
  font-family: 'Comfortaa';
  font-weight: 500;
  font-size: 16px;
  color: #000;
}

.welcome {
  height: 100vh;
  background-color: #d6e9ff;
  margin-bottom: 70px;
}

.welcome__container {
  position: relative;
  padding: 0;
  max-width: 100%;
}

.welcome-slider {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.welcome-slider__arrow {
  height: 35px;
  width: 35px;
  position: relative;
  position: absolute;
  z-index: 5;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.welcome-slider__arrow_prev {
  left: 5px;
  -webkit-transform: translateY(-50%) rotate(-180deg);
      -ms-transform: translateY(-50%) rotate(-180deg);
          transform: translateY(-50%) rotate(-180deg);
}

.welcome-slider__arrow_next {
  right: 5px;
}

.welcome-slider__arrow svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  fill: #000;
  -webkit-transition: 0.3s fill ease 0s;
  -o-transition: 0.3s fill ease 0s;
  transition: 0.3s fill ease 0s;
}

.welcome-slider__bullets {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.welcome-slider__bullet {
  cursor: pointer;
  display: inline-block;
  height: 14px;
  width: 14px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0 10px;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  border-radius: 50%;
}

.welcome-slider__bullet_active {
  background-color: #ffc2a6;
}

.welcome-slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}

.welcome-slider__slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 38px;
  visibility: hidden;
}

.welcome-slider__slide.swiper-slide-active {
  visibility: visible;
}

.welcome-slider__info {
  font-family: sans-serif;
}

.welcome-slider__title {
  font-family: 'Comfortaa';
  font-size: calc(42px + (62 - 42) * ((100vw - 767px) / (1395 - 767)));
  font-weight: 700;
  color: #000;
  margin: 0 0 25px 0;
  -webkit-transition-delay: 0.8s;
       -o-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.welcome-slider__sub-title {
  font-family: 'Comfortaa';
  font-size: calc(15px + (18 - 15) * ((100vw - 767px) / (1395 - 767)));
  font-weight: 500;
  color: #000;
  margin: 0 0 90px 0;
  -webkit-transition-delay: 0.8s;
       -o-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.welcome-slider__furniture {
  width: calc(350px + (500 - 350) * ((100vw - 767px) / (1395 - 767)));
  height: calc(300px + (425 - 300) * ((100vw - 767px) / (1395 - 767)));
  position: relative;
}

.welcome-slider__design-element {
  width: calc(300px + (420 - 300) * ((100vw - 767px) / (1395 - 767)));
  height: calc(300px + (420 - 300) * ((100vw - 767px) / (1395 - 767)));
  background-color: #ffc2a6;
  border-radius: 41% 59% 49% 51% / 54% 50% 50% 46%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.welcome-slider__image {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: calc(300px + (530 - 300) * ((100vw - 767px) / (1395 - 767)));
  height: calc(325px + (495 - 325) * ((100vw - 767px) / (1395 - 767)));
}

.welcome-slider__image img {
  -webkit-animation: welcomeAnimation 5s linear infinite;
          animation: welcomeAnimation 5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@-webkit-keyframes welcomeAnimation {
  0%, 100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }

  50% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
}

@keyframes welcomeAnimation {
  0%, 100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }

  50% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
}

.products {
  margin-bottom: 70px;
}

.products__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.products__item-wrapper {
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.products__item {
  height: 100%;
  padding-bottom: 40px;
}

.products__footer {
  padding: 20px 0 0 0;
  text-align: center;
}

.product-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.product-item__labels {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
  top: 20px;
  left: 20px;
}

.product-item__label {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48px;
          flex: 0 0 48px;
  width: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  border-radius: 5px;
  font-family: 'VarelaRound';
}

.product-item__label:not(:last-child) {
  margin: 0 0 10px 0;
}

.product-item__label_discount {
  background-color: #e67070;
}

.product-item__label_new {
  background-color: #41af9f;
}

.product-item__image-wrapper {
  padding: 0 0 117.24138% 0;
  position: relative;
  margin: 0 0 15px 0;
}

.product-item__image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.product-item__image img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.5s ease transform 0s;
  -o-transition: 0.5s ease transform 0s;
  transition: 0.5s ease transform 0s;
}

.product-item__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.product-item__title {
  line-height: 120%;
  font-size: 22px;
  font-family: 'Hind';
  margin: 0 0 10px 0;
  font-weight: 500;
}

.product-item__descr {
  line-height: 150%;
  font-size: 14px;
  font-family: 'Hind';
  font-weight: 500;
  margin: 0 0 10px 0;
  color: #ccc;
}

.product-item__prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 150%;
}

.product-item__price {
  font-family: 'VarelaRound';
  font-size: 20px;
  color: #000;
}

.product-item__old-price {
  font-family: 'VarelaRound';
  font-size: 16px;
  color: #ccc;
  margin: 0 0 0 15px;
  text-decoration: line-through;
}

.product-actions-list {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
}

.product-actions-list__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  width: 40px;
  height: 1px;
}

.product-actions-list__item:not(:last-child) {
  margin: 0 0 10px 0;
}

.product-actions-list__icone {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.product-actions-list__icone svg {
  height: 20px;
  width: 20px;
  fill: #fff;
}

.flyImage {
  opacity: 1;
  position: fixed;
  z-index: 200;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.gallery {
  margin-bottom: 70px;
}

.gallery__items-wrapper {
  position: relative;
  margin: 0 -25%;
  padding: 0 0 50% 0;
}

body.touch .gallery__items-wrapper {
  margin: 0;
}

.gallery__items {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 43%;
          flex: 0 1 43%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 7.5px;
}

.gallery-column_center {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 14%;
          flex: 0 1 14%;
}

.gallery-column_center .gallery-column__image-wrapper {
  margin: 0 !important;
}

.gallery-column_left .gallery-column__top,
.gallery-column_left .gallery-column__bottom {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.gallery-column_left .gallery-column__top .gallery-column__image-wrapper:first-child,
.gallery-column_left .gallery-column__bottom .gallery-column__image-wrapper:first-child {
  height: 100%;
}

.gallery-column_left .gallery-column__top .gallery-column__image-wrapper:last-child,
.gallery-column_left .gallery-column__bottom .gallery-column__image-wrapper:last-child {
  height: 80%;
}

.gallery-column_left .gallery-column__top .gallery-column__image,
.gallery-column_left .gallery-column__bottom .gallery-column__image {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.gallery-column_left .gallery-column__top {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.gallery-column_left .gallery-column__top .gallery-column__image-wrapper:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 55%;
          flex: 0 1 55%;
}

.gallery-column_left .gallery-column__top .gallery-column__image-wrapper:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
}

.gallery-column_left .gallery-column__bottom {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.gallery-column_left .gallery-column__bottom .gallery-column__image-wrapper:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
}

.gallery-column_left .gallery-column__bottom .gallery-column__image-wrapper:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

.gallery-column_center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery-column_center .gallery-column__image-wrapper {
  height: 60%;
}

.gallery-column_right .gallery-column__top {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.gallery-column_right .gallery-column__top .gallery-column__image-wrapper:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  height: 80%;
}

.gallery-column_right .gallery-column__top .gallery-column__image-wrapper:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  height: 100%;
}

.gallery-column_right .gallery-column__bottom {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.gallery-column_right .gallery-column__bottom .gallery-column__image-wrapper:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 32%;
          flex: 0 1 32%;
  height: 100%;
}

.gallery-column_right .gallery-column__bottom .gallery-column__image-wrapper:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 68%;
          flex: 0 1 68%;
  height: 80%;
}

.gallery-column__top,
.gallery-column__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 7.5px 0;
}

.gallery-column__image-wrapper {
  position: relative;
}

.gallery-column__image-wrapper:first-child {
  margin: 0 7.5px 0 0;
}

.gallery-column__image-wrapper:last-child {
  margin: 0 0 0 7.5px;
}

.gallery-column__image img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog {
  position: relative;
  background: rgba(0, 0, 0, 0.3);
  margin-bottom: 70px;
}

.blog__container {
  padding: 38px;
}

.blog__title {
  color: #fff;
  margin-bottom: 30px !important;
}

.blog__bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.blog__bg img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-slider {
  position: relative;
  height: 100%;
  overflow: hidden;
  padding: 35px 50px;
  margin: 0 -50px;
}

.blog-slider__arrow {
  height: 35px;
  width: 35px;
  position: relative;
  position: absolute;
  z-index: 5;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.blog-slider__arrow_prev {
  left: 0;
  -webkit-transform: translateY(-50%) rotate(-180deg) !important;
      -ms-transform: translateY(-50%) rotate(-180deg) !important;
          transform: translateY(-50%) rotate(-180deg) !important;
}

.blog-slider__arrow_next {
  right: 0;
}

.blog-slider__arrow svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  fill: #fff;
  -webkit-transition: 0.3s fill ease 0s;
  -o-transition: 0.3s fill ease 0s;
  transition: 0.3s fill ease 0s;
}

.blog-slider__bullets {
  position: absolute;
  bottom: 27px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  text-align: center;
}

.blog-slider__bullet {
  cursor: pointer;
  display: inline-block;
  height: 14px;
  width: 14px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0 10px;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  border-radius: 50%;
}

.blog-slider__bullet_active {
  background-color: #fff;
}

.blog-slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}

.blog-slider__slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog-slider__item {
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  -webkit-box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.blog-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 350px;
}

.blog-card__image {
  position: relative;
  padding: 0 0 92.59259% 0;
  border-radius: 14px;
  overflow: hidden;
  margin: 0 0 25px 0;
}

.blog-card__image img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-card__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
  color: #fff;
  margin: 0 0 25px 0;
}

.blog-card__title {
  font-family: 'Comfortaa';
  font-weight: 700;
  font-size: 25px;
  margin: 0 0 12px 0;
}

.blog-card__descr {
  font-family: 'Comfortaa';
  font-weight: 700;
  font-size: 16px;
}

@media (min-width: 767px) {
  .manu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    list-style: none;
  }
}

@media (max-width: 1395px) {
  .header-actions__item {
    margin-left: calc(15px + 17 * ((100vw - 320px) / 1075));
  }

  .footer-contacts__text {
    font-size: calc(14px + 2 * ((100vw - 320px) / 1075));
  }

  .footer-contacts__text {
    margin-bottom: calc(15px + 5 * ((100vw - 320px) / 1075));
  }

  .footer-contacts__contacts {
    font-size: calc(14px + 2 * ((100vw - 320px) / 1075));
  }

  .footer-contacts__contact:not(:last-child) {
    margin-bottom: calc(15px + 5 * ((100vw - 320px) / 1075));
  }

  .footer-contacts__contact svg {
    height: calc(15px + 5 * ((100vw - 320px) / 1075));
  }

  .footer-contacts__contact svg {
    width: calc(15px + 5 * ((100vw - 320px) / 1075));
  }

  .footer-list__item:not(:last-child) {
    margin-bottom: calc(15px + 5 * ((100vw - 320px) / 1075));
  }

  .footer-list__link svg {
    height: calc(15px + 5 * ((100vw - 320px) / 1075));
  }

  .footer-list__link svg {
    width: calc(15px + 5 * ((100vw - 320px) / 1075));
  }

  .title {
    font-size: calc(32px + 16 * ((100vw - 320px) / 1075));
  }

  .title {
    margin-bottom: calc(40px + 30 * ((100vw - 320px) / 1075));
  }

  .footer-title {
    font-size: calc(18px + 7 * ((100vw - 320px) / 1075));
  }

  .footer-title {
    margin-bottom: calc(17px + 8 * ((100vw - 320px) / 1075));
  }

  .footer-link {
    font-size: calc(14px + 2 * ((100vw - 320px) / 1075));
  }

  .welcome {
    margin-bottom: calc(30px + 40 * ((100vw - 320px) / 1075));
  }

  .products {
    margin-bottom: calc(30px + 40 * ((100vw - 320px) / 1075));
  }

  .products__items {
    margin-left: calc(-7.5px + -7.5 * ((100vw - 320px) / 1075));
  }

  .products__items {
    margin-right: calc(-7.5px + -7.5 * ((100vw - 320px) / 1075));
  }

  .products__item-wrapper {
    padding-left: calc(7.5px + 7.5 * ((100vw - 320px) / 1075));
  }

  .products__item-wrapper {
    padding-right: calc(7.5px + 7.5 * ((100vw - 320px) / 1075));
  }

  .products__item {
    padding-bottom: calc(30px + 10 * ((100vw - 320px) / 1075));
  }

  .product-item__labels {
    top: calc(10px + 10 * ((100vw - 320px) / 1075));
  }

  .product-item__labels {
    left: calc(10px + 10 * ((100vw - 320px) / 1075));
  }

  .product-item__title {
    font-size: calc(17px + 5 * ((100vw - 320px) / 1075));
  }

  .product-item__descr {
    font-size: calc(11px + 3 * ((100vw - 320px) / 1075));
  }

  .product-item__price {
    font-size: calc(16px + 4 * ((100vw - 320px) / 1075));
  }

  .product-item__old-price {
    font-size: calc(13px + 3 * ((100vw - 320px) / 1075));
  }

  .product-actions-list {
    right: calc(10px + 10 * ((100vw - 320px) / 1075));
  }

  .gallery {
    margin-bottom: calc(30px + 40 * ((100vw - 320px) / 1075));
  }

  .blog {
    margin-bottom: calc(30px + 40 * ((100vw - 320px) / 1075));
  }

  .blog-slider__item {
    padding: calc(15px + 10 * ((100vw - 320px) / 1075));
  }

  .blog-card__title {
    font-size: calc(17px + 8 * ((100vw - 320px) / 1075));
  }

  .blog-card__descr {
    font-size: calc(13px + 3 * ((100vw - 320px) / 1075));
  }
}

@media (max-width: 1170px) {
  .product-item__label {
    width: 48px;
    -ms-flex-preferred-size: 48px;
        flex-basis: 48px;
    font-size: 14px;
  }

  .product-actions-list__item {
    -ms-flex-preferred-size: 40px;
        flex-basis: 40px;
    width: 40px;
  }

  .product-actions-list__icone svg {
    height: 20px;
    width: 20px;
  }
}

@media (max-width: 1170px) and (max-width: 1395px) {
  .product-item__label {
    width: calc(32px + 16 * ((100vw - 320px) / 1075));
  }

  .product-item__label {
    -ms-flex-preferred-size: calc(32px + 16 * ((100vw - 320px) / 1075));
        flex-basis: calc(32px + 16 * ((100vw - 320px) / 1075));
  }

  .product-item__label {
    font-size: calc(11px + 3 * ((100vw - 320px) / 1075));
  }

  .product-actions-list__item {
    -ms-flex-preferred-size: calc(25px + 15 * ((100vw - 320px) / 1075));
        flex-basis: calc(25px + 15 * ((100vw - 320px) / 1075));
  }

  .product-actions-list__item {
    width: calc(25px + 15 * ((100vw - 320px) / 1075));
  }

  .product-actions-list__icone svg {
    height: calc(14px + 6 * ((100vw - 320px) / 1075));
  }

  .product-actions-list__icone svg {
    width: calc(14px + 6 * ((100vw - 320px) / 1075));
  }
}

@media (max-width: 992px) {
  .header__body {
    min-height: 80px;
  }

  .header__main {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .header__search {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .search-form__icon_one {
    display: block;
  }

  .search-form__item {
    -webkit-box-shadow: 0 0 5px rgba(212, 209, 205, 0.3);
            box-shadow: 0 0 5px rgba(212, 209, 205, 0.3);
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.3s ease all 0s;
    -o-transition: 0.3s ease all 0s;
    transition: 0.3s ease all 0s;
  }

  .header-cart__body {
    top: 50px;
  }

  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .footer__column:not(:last-child) {
    margin: 0 0 30px 0;
  }

  .footer-subscribe {
    text-align: center;
  }

  .products__item-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }
}

@media (max-width: 767px) {
  .manu__body {
    position: fixed;
    background-color: #f4eea4;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    padding: 120px 45px 30px 45px;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }

  .manu__body::before {
    content: '';
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 50px;
    background-color: #f4eea4;
    z-index: 1;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .manu__body.active {
    left: 0;
  }

  .manu__body.active::before {
    left: 0;
  }

  .manu__list {
    margin: 0 0 35px 0;
  }

  .manu__item {
    margin: 0 0 30px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .manu__item:last-child {
    margin: 0;
  }

  .manu__link {
    font-size: 20px;
  }

  .manu__arrow {
    height: 22px;
    width: 22px;
  }

  .manu__sub-list {
    position: relative;
    display: none;
    margin: 20px 0 0 0;
    text-align: center;
  }

  .manu__sub-link {
    font-size: 16px;
  }

  .manu-icon {
    display: block;
    position: relative;
    width: 27px;
    height: 22px;
    cursor: pointer;
    margin-left: 32px;
  }

  .header {
    min-height: 10px;
  }

  .header.scroll .header__body {
    min-height: 50px;
  }

  .header__body {
    min-height: 50px;
  }

  .header-cart__body {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
  }

  .footer-manu__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .footer-manu__column:not(:last-child) {
    margin: 0 0 15px 0;
  }

  .welcome-slider__info {
    text-align: center;
  }

  .welcome-slider__sub-title {
    margin-bottom: 90px;
  }

  .welcome-slider__furniture {
    margin-bottom: 90px;
  }

  .products__item-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 767px) and (max-width: 1395px) {
  .manu-icon {
    margin-left: calc(15px + 17 * ((100vw - 320px) / 1075));
  }

  .welcome-slider__sub-title {
    margin-bottom: calc(55px + 35 * ((100vw - 320px) / 1075));
  }

  .welcome-slider__furniture {
    margin-bottom: calc(55px + 35 * ((100vw - 320px) / 1075));
  }
}

@media (max-width: 450px) {
  .products__item-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .product-item__label {
    width: 42px;
    -ms-flex-preferred-size: 42px;
        flex-basis: 42px;
    font-size: 14px;
  }

  .product-actions-list__item {
    width: 38px;
    -ms-flex-preferred-size: 38px;
        flex-basis: 38px;
  }

  .product-actions-list__icone svg {
    width: 18px;
    height: 18px;
  }
}

@media (any-hover: hover) {
  .manu__link:hover {
    color: #ffc2a6;
  }

  .manu-icon:hover span,
  .manu-icon:hover::before,
  .manu-icon:hover::after {
    background-color: #ffc2a6;
  }

  .header.scroll .header__wrapper:hover {
    background-color: rgba(255, 255, 255, 0.9);
  }

  .search-form__icon_one:hover svg {
    fill: #ffc2a6;
  }

  .header-actions__item_icon:hover svg {
    fill: #ffc2a6;
  }

  .header-cart__icon:hover svg {
    fill: #ffc2a6;
  }

  .cart-list__title:hover {
    color: #e67070;
  }

  .footer-contacts__contact:hover {
    color: #ffc2a6;
  }

  .footer-contacts__contact:hover svg {
    fill: #ffc2a6;
  }

  .footer-list__link:hover {
    color: #ffc2a6;
  }

  .footer-list__link:hover svg {
    fill: #ffc2a6;
  }

  .footer-subscribe__button:hover {
    background-color: #000;
  }

  .footer-subscribe__button:hover svg {
    fill: #fff;
  }

  .btn:hover {
    color: #fff;
  }

  .btn:hover::after {
    width: 100%;
  }

  .btn_blog:hover {
    color: #000;
  }

  .btn_blog:hover::after {
    width: 100%;
  }

  .welcome-slider__arrow:hover svg {
    fill: #ffc2a6;
  }

  .product-item:hover .product-actions-list__item {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

  .product-actions-list__item {
    -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
            transform: translateX(20px);
    opacity: 0;
    visibility: hidden;
  }

  .product-actions-list__item:hover .product-actions-list__icone svg {
    fill: #e67070;
  }

  .product-actions-list__item:nth-child(1) {
    -webkit-transition: 0.3s ease all 0s;
    -o-transition: 0.3s ease all 0s;
    transition: 0.3s ease all 0s;
  }

  .product-actions-list__item:nth-child(2) {
    -webkit-transition: 0.3s ease all 0.1s;
    -o-transition: 0.3s ease all 0.1s;
    transition: 0.3s ease all 0.1s;
  }

  .product-actions-list__item:nth-child(3) {
    -webkit-transition: 0.3s ease all 0.2s;
    -o-transition: 0.3s ease all 0.2s;
    transition: 0.3s ease all 0.2s;
  }

  .gallery-column__image-wrapper img {
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    -webkit-transition: 0.8s ease all 0s;
    -o-transition: 0.8s ease all 0s;
    transition: 0.8s ease all 0s;
  }

  .gallery-column__image-wrapper:hover img {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }

  .blog-slider__arrow:hover svg {
    fill: #ffc2a6;
  }
}

@media (any-hover) {
  .product-item__image-wrapper:hover .product-item__image img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}